<div class="d-none d-md-block">
    <div>
      <p class="rs-p-wp-fix"></p>
      <rs-module-wrap
        id="rev_slider_1_1_wrapper"
        data-source="gallery"
        style="
          visibility: hidden;
          background: #222d35;
          padding: 0;
          margin: 0px auto;
          margin-top: 0;
          margin-bottom: 0;
        "
      >
        <rs-module id="rev_slider_1_1" data-version="6.5.19">
          <rs-slides>
            <rs-slide
              style="position: absolute"
              data-key="rs-18"
              data-title="Slide"
              data-thumb="./assets/images/img03.jpeg"
              data-anim="ms:1000;r:0;"
              data-in="o:0;"
              data-out="a:false;"
            >
              <img
                src=""
                alt=""
                title="slider-01-a"
                width="1920"
                height="900"
                class="rev-slidebg tp-rs-img rs-lazyload"
                data-lazyload="./assets/images/img03.jpeg"
                data-bg="p:right top;"
                data-no-retina
              />
              <!--
          --><rs-layer
                id="slider-1-slide-18-layer-0"
                data-type="text"
                data-rsp_ch="on"
                data-xy="xo:30px,30px,18px,15px;yo:464px,464px,271px,213px;"
                data-text="s:75,75,55,35;l:80,80,55,40;ls:0px,0px,0px,2px;fw:700;"
                data-frame_0="x:50,50,31,19;"
                data-frame_1="st:1530;sp:800;sR:1530;"
                data-frame_999="o:0;st:w;sR:6670;"
                style="z-index: 11; font-family: 'Roboto'"
                >Study With/Without IELTS</rs-layer
              ><!--

          --><rs-layer
                id="slider-1-slide-18-layer-1"
                data-type="text"
                data-xy="xo:30px,30px,18px,15px;yo:331px,331px,208px,155px;"
                data-text="w:normal;s:15,15,9,12;l:28,28,17,18;ls:6px,6px,3px,3px;fw:800;"
                data-vbility="t,t,f,f"
                data-rsp_bd="off"
                data-frame_0="x:-50,-50,-31,-19;"
                data-frame_1="st:580;sp:1000;sR:580;"
                data-frame_999="o:0;st:w;sR:7420;"
                style="
                  z-index: 8;
                  font-family: 'Muli';
                  text-transform: uppercase;
                "
                >Welcome to SkyLane Education </rs-layer
              ><!--

          --><a
                id="slider-1-slide-18-layer-2"
                class="rs-layer"
                href="#"
                target="_self"
                rel="nofollow"
                data-type="button"
                data-rsp_ch="on"
                data-xy="xo:30px,30px,18px,15px;yo:563px,563px,355px,264px;"
                data-text="w:normal;s:25,25,20,16;l:55,55,44,29;a:center;"
                data-dim="w:60px,60px,48px,31px;h:60px,60px,48px,31px;minw:60px,60px,none,none;minh:60px,60px,none,none;"
                data-border="bos:solid;boc:#ffffff;bow:2px,2px,2px,2px;bor:50%,50%,50%,50%;"
                data-frame_0="x:0,0,0px,0px;y:50,50,40px,26px;"
                data-frame_1="x:0,0,0px,0px;y:0,0,0px,0px;st:2240;sp:700;sR:2240;"
                data-frame_999="o:0;st:w;sR:6060;"
                style="
                  z-index: 12;
                  background-color: rgba(255, 255, 255, 0);
                  font-family: 'Roboto';
                  text-transform: uppercase;
                "
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="26"
                  height="26"
                  fill="currentColor"
                  class="bi bi-chevron-right text-white"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
                  />
                </svg> </a
              ><!--

          --><a
                id="slider-1-slide-18-layer-3"
                class="rs-layer"
                href="#"
                target="_self"
                rel="nofollow"
                data-type="text"
                data-xy="xo:101px,101px,63px,68px;yo:582px,582px,367px,273px;"
                data-text="w:normal;s:15,15,9,12;l:25,25,15,14;ls:1px,1px,0px,1px;fw:500;"
                data-vbility="t,f,f,f"
                data-frame_0="y:50,50,31,19;"
                data-frame_1="st:2240;sp:700;sR:2240;"
                data-frame_999="o:0;st:w;sR:6060;"
                style="z-index: 13; font-family: 'Roboto'"
                >Discover more </a
              ><!--

          --><rs-layer
                id="slider-1-slide-18-layer-8"
                data-type="text"
                data-rsp_ch="on"
                data-xy="xo:30px,30px,18px,15px;yo:374px,374px,196px,170px;"
                data-text="s:75,75,55,35;l:80,80,70,40;ls:0px,0px,0px,2px;fw:300,300,400,400;"
                data-frame_0="x:50,50,31,19;"
                data-frame_1="st:1540;sp:800;sR:1540;"
                data-frame_999="o:0;st:w;sR:6660;"
                style="z-index: 10; font-family: 'Roboto'"
                >Choose from 15+ Countries</rs-layer
              ><!--

          --><rs-layer
                id="slider-1-slide-18-layer-9"
                data-type="shape"
                data-xy="xo:30px,30px,18px,15px;yo:364px,364px,230px,178px;"
                data-text="w:normal;s:20,20,12,7;l:0,0,15,9;"
                data-dim="w:310px,310px,196px,210px;h:1px;"
                data-vbility="t,f,f,f"
                data-rsp_bd="off"
                data-layeronlimit="on"
                data-frame_0="x:-100%;"
                data-frame_0_mask="u:t;"
                data-frame_1="st:1110;sp:500;sR:1110;"
                data-frame_1_mask="u:t;"
                data-frame_999="o:0;st:w;sR:7390;"
                style="z-index: 9; background-color: #ffffff"
              >
              </rs-layer
              ><!--
-->
            </rs-slide>
            <rs-slide
              style="position: absolute"
              data-key="rs-1"
              data-title="Slide"
              data-thumb="./assets/images/img01.jpeg"
              data-in="o:0;"
              data-out="a:false;"
            >
              <img
                src=""
                alt=""
                title="slider-01-a-ne1w"
                width="1920"
                height="900"
                class="rev-slidebg tp-rs-img rs-lazyload"
                data-lazyload="./assets/images/img01.jpeg"
                data-bg="p:right top;"
                data-no-retina
              />
              <!--
          --><rs-layer
                id="slider-1-slide-1-layer-0"
                data-type="text"
                data-rsp_ch="on"
                data-xy="xo:30px,30px,18px,15px;yo:464px,464px,271px,213px;"
                data-text="s:75,75,55,35;l:80,80,55,40;ls:0px,0px,0px,2px;fw:700;"
                data-frame_0="x:50,50,31,19;"
                data-frame_1="st:1530;sp:800;sR:1530;"
                data-frame_999="o:0;st:w;sR:6670;"
                style="z-index: 11; font-family: 'Roboto'"
                >Studying Abroad </rs-layer
              ><!--

          --><rs-layer
                id="slider-1-slide-1-layer-1"
                data-type="text"
                data-xy="xo:30px,30px,18px,15px;yo:331px,331px,208px,155px;"
                data-text="w:normal;s:15,15,9,12;l:28,28,17,18;ls:6px,6px,3px,3px;fw:800;"
                data-vbility="t,t,f,f"
                data-rsp_bd="off"
                data-frame_0="x:-50,-50,-31,-19;"
                data-frame_1="st:580;sp:1000;sR:580;"
                data-frame_999="o:0;st:w;sR:7420;"
                style="
                  z-index: 8;
                  font-family: 'Muli';
                  text-transform: uppercase;
                "
                >Welcome to SkyLane Education </rs-layer
              ><!--

          --><a
                id="slider-1-slide-1-layer-2"
                class="rs-layer"
                href="#"
                target="_self"
                rel="nofollow"
                data-type="button"
                data-rsp_ch="on"
                data-xy="xo:30px,30px,18px,15px;yo:563px,563px,355px,264px;"
                data-text="w:normal;s:25,25,20,16;l:55,55,44,29;a:center;"
                data-dim="w:60px,60px,48px,31px;h:60px,60px,48px,31px;minw:60px,60px,none,none;minh:60px,60px,none,none;"
                data-border="bos:solid;boc:#ffffff;bow:2px,2px,2px,2px;bor:50%,50%,50%,50%;"
                data-frame_0="x:0,0,0px,0px;y:50,50,40px,26px;"
                data-frame_1="x:0,0,0px,0px;y:0,0,0px,0px;st:2240;sp:700;sR:2240;"
                data-frame_999="o:0;st:w;sR:6060;"
                style="
                  z-index: 12;
                  background-color: rgba(255, 255, 255, 0);
                  font-family: 'Roboto';
                  text-transform: uppercase;
                "
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="26"
                  height="26"
                  fill="currentColor"
                  class="bi bi-chevron-right text-white"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
                  />
                </svg> </a
              ><!--

          --><a
                id="slider-1-slide-1-layer-3"
                class="rs-layer"
                href="#"
                target="_self"
                rel="nofollow"
                data-type="text"
                data-xy="xo:101px,101px,63px,68px;yo:582px,582px,367px,273px;"
                data-text="w:normal;s:15,15,9,12;l:25,25,15,14;ls:1px,1px,0px,1px;fw:500;"
                data-vbility="t,f,f,f"
                data-frame_0="y:50,50,31,19;"
                data-frame_1="st:2240;sp:700;sR:2240;"
                data-frame_999="o:0;st:w;sR:6060;"
                style="z-index: 13; font-family: 'Roboto'"
                >Discover more </a
              ><!--

          --><rs-layer
                id="slider-1-slide-1-layer-8"
                data-type="text"
                data-rsp_ch="on"
                data-xy="xo:30px,30px,18px,15px;yo:374px,374px,196px,170px;"
                data-text="s:75,75,55,35;l:80,80,70,40;ls:0px,0px,0px,2px;fw:300,300,400,400;"
                data-frame_0="x:50,50,31,19;"
                data-frame_1="st:1540;sp:800;sR:1540;"
                data-frame_999="o:0;st:w;sR:6660;"
                style="z-index: 10; font-family: 'Roboto'"
                >Trusted Consultancy for</rs-layer
              ><!--

          --><rs-layer
                id="slider-1-slide-1-layer-9"
                data-type="shape"
                data-xy="xo:30px,30px,18px,15px;yo:364px,364px,230px,178px;"
                data-text="w:normal;s:20,20,12,7;l:0,0,15,9;"
                data-dim="w:310px,310px,196px,210px;h:1px;"
                data-vbility="t,f,f,f"
                data-rsp_bd="off"
                data-layeronlimit="on"
                data-frame_0="x:-100%;"
                data-frame_0_mask="u:t;"
                data-frame_1="st:1110;sp:500;sR:1110;"
                data-frame_1_mask="u:t;"
                data-frame_999="o:0;st:w;sR:7390;"
                style="z-index: 9; background-color: #ffffff"
              >
              </rs-layer
              ><!--
-->
            </rs-slide>
            <rs-slide
              style="position: absolute"
              data-key="rs-19"
              data-title="Slide"
              data-thumb="./assets/images/img02.jpeg"
              data-anim="ms:1000;r:0;"
              data-in="o:0;"
              data-out="a:false;"
            >
              <img
                src=""
                alt=""
                title="slider-01-b"
                width="1920"
                height="900"
                class="rev-slidebg tp-rs-img rs-lazyload"
                data-lazyload="./assets/images/img02.jpeg"
                data-bg="p:right top;"
                data-no-retina
              />
              <!--
          --><rs-layer
                id="slider-1-slide-19-layer-0"
                data-type="text"
                data-rsp_ch="on"
                data-xy="xo:30px,30px,18px,15px;yo:464px,464px,271px,213px;"
                data-text="s:75,75,55,35;l:80,80,55,40;ls:0px,0px,0px,2px;fw:700;"
                data-frame_0="x:50,50,31,19;"
                data-frame_1="st:1530;sp:800;sR:1530;"
                data-frame_999="o:0;st:w;sR:6670;"
                style="z-index: 11; font-family: 'Roboto'"
                >Get Scholarships </rs-layer
              ><!--

          --><rs-layer
                id="slider-1-slide-19-layer-1"
                data-type="text"
                data-xy="xo:30px,30px,18px,15px;yo:331px,331px,208px,155px;"
                data-text="w:normal;s:15,15,9,12;l:28,28,17,18;ls:6px,6px,3px,3px;fw:800;"
                data-vbility="t,t,f,f"
                data-rsp_bd="off"
                data-frame_0="x:-50,-50,-31,-19;"
                data-frame_1="st:580;sp:1000;sR:580;"
                data-frame_999="o:0;st:w;sR:7420;"
                style="
                  z-index: 8;
                  font-family: 'Muli';
                  text-transform: uppercase;
                "
                >Welcome to SkyLane Education </rs-layer
              ><!--

          --><a
                id="slider-1-slide-19-layer-2"
                class="rs-layer"
                href="#"
                target="_self"
                rel="nofollow"
                data-type="button"
                data-rsp_ch="on"
                data-xy="xo:30px,30px,18px,15px;yo:563px,563px,355px,264px;"
                data-text="w:normal;s:25,25,20,16;l:55,55,44,29;a:center;"
                data-dim="w:60px,60px,48px,31px;h:60px,60px,48px,31px;minw:60px,60px,none,none;minh:60px,60px,none,none;"
                data-border="bos:solid;boc:#ffffff;bow:2px,2px,2px,2px;bor:50%,50%,50%,50%;"
                data-frame_0="x:0,0,0px,0px;y:50,50,40px,26px;"
                data-frame_1="x:0,0,0px,0px;y:0,0,0px,0px;st:2240;sp:700;sR:2240;"
                data-frame_999="o:0;st:w;sR:6060;"
                style="
                  z-index: 12;
                  background-color: rgba(255, 255, 255, 0);
                  font-family: 'Roboto';
                  text-transform: uppercase;
                "
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="26"
                  height="26"
                  fill="currentColor"
                  class="bi bi-chevron-right text-white"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
                  />
                </svg> </a
              ><!--

          --><a
                id="slider-1-slide-19-layer-3"
                class="rs-layer"
                href="#"
                target="_self"
                rel="nofollow"
                data-type="text"
                data-xy="xo:101px,101px,63px,68px;yo:582px,582px,367px,273px;"
                data-text="w:normal;s:15,15,9,12;l:25,25,15,14;ls:1px,1px,0px,1px;fw:500;"
                data-vbility="t,f,f,f"
                data-frame_0="y:50,50,31,19;"
                data-frame_1="st:2240;sp:700;sR:2240;"
                data-frame_999="o:0;st:w;sR:6060;"
                style="z-index: 13; font-family: 'Roboto'"
                >Discover more </a
              ><!--

          --><rs-layer
                id="slider-1-slide-19-layer-8"
                data-type="text"
                data-rsp_ch="on"
                data-xy="xo:30px,30px,18px,15px;yo:374px,374px,196px,170px;"
                data-text="s:75,75,55,35;l:80,80,70,40;ls:0px,0px,0px,2px;fw:300,300,400,400;"
                data-frame_0="x:50,50,31,19;"
                data-frame_1="st:1540;sp:800;sR:1540;"
                data-frame_999="o:0;st:w;sR:6660;"
                style="z-index: 10; font-family: 'Roboto'"
                >Choose from 200+ Universities</rs-layer
              ><!--

          --><rs-layer
                id="slider-1-slide-19-layer-9"
                data-type="shape"
                data-xy="xo:30px,30px,18px,15px;yo:364px,364px,230px,178px;"
                data-text="w:normal;s:20,20,12,7;l:0,0,15,9;"
                data-dim="w:310px,310px,196px,210px;h:1px;"
                data-vbility="t,f,f,f"
                data-rsp_bd="off"
                data-layeronlimit="on"
                data-frame_0="x:-100%;"
                data-frame_0_mask="u:t;"
                data-frame_1="st:1110;sp:500;sR:1110;"
                data-frame_1_mask="u:t;"
                data-frame_999="o:0;st:w;sR:7390;"
                style="z-index: 9; background-color: #ffffff"
              >
              </rs-layer
              ><!--
-->
            </rs-slide>
          </rs-slides>
        </rs-module>
        <script>
          setREVStartSize({
            c: "rev_slider_1_1",
            rl: [1240, 1240, 778, 480],
            el: [900, 900, 569, 480],
            gw: [1230, 1230, 778, 480],
            gh: [900, 900, 569, 480],
            type: "standard",
            justify: "",
            layout: "fullwidth",
            mh: "0",
          });
          if (
            window.RS_MODULES !== undefined &&
            window.RS_MODULES.modules !== undefined &&
            window.RS_MODULES.modules["revslider11"] !== undefined
          ) {
            window.RS_MODULES.modules["revslider11"].once = false;
            window.revapi1 = undefined;
            if (window.RS_MODULES.checkMinimal !== undefined)
              window.RS_MODULES.checkMinimal();
          }
        </script>
      </rs-module-wrap>
    </div>
  </div>