.list-group-item.active {
	background-color: #02739a !important;
	border-color: #02739a !important;
}

@media screen and (max-width: 768px){
	.list-group{	
		flex-direction: row !important;
		/* --bs-list-group-border-color: #fff !important; */
	}
	.list-group {
		--bs-list-group-item-padding-x: 0.5rem !important;
--bs-list-group-item-padding-y: 0.35rem !important;
	}
}

.list-group-item:last-child {
	 border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px; 
}

.list-group-item:first-child {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.list-group-item + .list-group-item {
	border-top-width: thin;
}

.black-italic{
	font-style: italic;
	font-weight: 900;
}