/* ading fonts  */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,700&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;700&family=Roboto:ital,wght@0,300;0,400;0,700;1,700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Carter+One&family=Chivo:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@400;600;700&display=swap");

/* font-family: 'Chivo', sans-serif; */
body {
  font-family: "Chivo", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.8;
  color: #5d6975;
}

::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: #56c6d0;
}

::selection {
  color: white;
  background: #56c6d0;
}

/* custom padding  */
.step-content {
  padding-left: 80px !important;
  padding-right: 80px !important;
}

.country-content {
  padding-top: 100px !important;
  padding-bottom: 100px !important;
  padding-left: 80px !important;
  padding-right: 80px !important;
}

.about-content {
  padding-left: 80px !important;
  padding-right: 80px !important;
  padding-bottom: 100px !important;
}

.visa-content {
  padding-left: 80px !important;
  padding-right: 80px !important;
}

.skil-part {
  padding-left: 80px !important;
  padding-right: 80px !important;
}

.free-online-content {
  margin-top: -150px !important;
  border-radius: 6px !important;
  padding-left: 100px !important;
  padding-right: 100px !important;
}

.testimonial-content {
  padding-left: 80px !important;
  padding-right: 80px !important;
}

.blog-content {
  padding-left: 80px !important;
  padding-right: 80px !important;
}

/* custom padding css */
@media (max-width: 768px) {
  .step-content {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .country-content {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .about-content {
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-bottom: 0px !important;
  }

  .visa-content {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .free-online-content {
    margin-top: -150px !important;
    border-radius: 6px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .testimonial-content {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .logo-content {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .blog-content {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .skil-part {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}

@media (min-width: 1200px) {
  .step-content {
    padding-left: 0px !important;
    padding-right: 0px !important;
    z-index: 10;
    position: relative;
    top: -100px;
  }

  .country-content {
    padding-top: 100px !important;
    padding-bottom: 100px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .about-content {
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 100px !important;
  }

  .skil-part {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .visa-content {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .free-online-content {
    margin-top: -150px !important;
    border-radius: 6px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .testimonial-content {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .blog-content {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

/* topbar button  */
.btn-topbar {
  color: #fff;
  background: #56c6d0;
  padding: 24px 50px 24px 50px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.5px;
  text-decoration: none;
}

.btn-topbar:hover {
  background-color: #f47426;
  color: #fff;
}

/* off canvas  */
.offcanvas {
  background: #02739a !important;
}

/* mobile bottom nav */
.mobile-navbar {
  overflow: hidden;
  background-color: #02739a !important;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2) !important;
}

.mobile-navbar a {
  float: left;
  display: block;
  color: #fff;
  text-align: center;
  padding: 5px 6px;
  text-decoration: none;
  font-size: 13px;
}

.mobile-navbar a:hover {
  background: #02739a !important;
  color: #56c6d0 !important;
}

/* top bar  */
.topbar {
  background: #02739a;
  color: #fff;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 25px;
}

/* nav bar  */
.navbar-margin {
  margin-top: 30px;
}

.navbar-scrolled {
  background: #02739a !important;
  size: 90px;
  margin-top: 0px !important;
}

/* * dropdown adjust with nav */
.dropdown-adjust {
  height: 90px !important;
}

@media screen and (min-width: 488px) {
  #site-header-nav .navbar-nav .nav-item.dropdown .dropdown-menu {
    /* opacity: 1 !important; */
    transition: opacity 0.3s;
  }

  #site-header-nav .navbar-nav .nav-item.dropdown:hover .dropdown-menu {
    display: block !important;
    top: 100% !important;
    left: 0 !important;
    opacity: 1 !important;
    padding-top: 0px;
    padding-bottom: 0px;
    border-top: 3px solid #02739a !important;
    width: 250px;
  }

  ul.dropdown-menu>li>a {
    margin: 0;
    display: block;
    padding: 17px 20px 15px 20px !important;
    position: relative;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 18px !important;
  }

  ul.dropdown-menu>li>a:hover {
    color: #fff !important;
    background: #02739a !important;
  }

  #site-header-nav .nav-bottom-border {
    border-bottom: 1px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.1);
  }

  .offcanvas-nav .nav-bottom-border {
    border-bottom: 1px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.1);
  }

  ul.dropdown-menu .nav-bottom-border,
  ul.navbar-nav .nav-bottom-border {
    border-bottom: 1px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.1);
  }

  #offcanvasWithBothOptions ul.dropdown-menu.show {
    display: block !important;
    position: relative !important;
    transform: none !important;
    top: 100% !important;
    left: 0 !important;
    opacity: 1 !important;
    padding-top: 0px;
    padding-bottom: 0px;
    border-top: 3px solid #02739a !important;
    background: #02739a !important;
    width: 250px;
  }

  .offcanvas-ul {
    background: #02739a !important;
  }

  .offcanvas-ul li>a {
    background: #02739a !important;
    color: #fff;
  }
}

ul.dropdown-menu .nav-bottom-border,
ul.navbar-nav .nav-bottom-border {
  border-bottom: 1px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.1);
}

.offcanvas-ul {
  background: #02739a !important;
}

.offcanvas-ul li>a {
  background: #02739a !important;
  color: #fff;
}

@media screen and (max-width: 768px) {
  ul.dropdown-menu>li>a {
    margin: 0;
    display: block;
    padding: 12px 20px 12px 20px !important;
    position: relative;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 18px !important;
  }

  .bi.bi-chevron-right {
    margin-top: -5px !important;
    width: 20px !important;
    height: 15px !important;
  }
}

/* for mobile  */
.navbar-mob {
  margin-top: 0px;
}

.navbar-scroll-mob {
  background: #02739a !important;
  size: 90px;
  margin-top: 0px !important;
}

.navbar {
  margin-top: 63px;
  transition: all 0.5s;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.nav-img {
  width: 150px !important;
}

@media screen and (max-width: 768px) {
  .nav-img {
    width: 60px !important;
  }
}

.nav-link {
  font-size: 14px !important;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 500 !important;
}

.canvas-text {
  font-size: 16px !important;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 500 !important;
}

.navbar-collapse>ul>li>a {
  margin: 0px 5px 0px 5px;
}

.btn-text {
  background: none !important;
  border: none !important;
}

.phn-text {
  font-family: "Chivo", sans-serif;
  font-size: 16px !important;
  font-weight: 600 !important;
}

@media (max-width: 768px) {
  .navbar-margin {
    margin-top: 0px;
  }

  .navbar-scrolled {
    background: #2d3845 !important;
    size: 0px;
    margin-top: 0px !important;
  }

  .navbar {
    margin-top: 0px !important;
    transition: all 0.5s;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  }

  .ul-back {
    background: white;
  }

  a.nav-link {
    color: #2d3845 !important;
  }
}

/* <!-- steps  --> */

.custom-color {
  background: #f5f8fb;  
}

.custom {
  padding-top: 50px !important;
}

.accordion-consult {
  --bs-accordion-bg: #56c6d0 !important;
  --bs-accordion-active-bg: #56c6d0 !important;
}

.accordion-apply {
  --bs-accordion-bg: #02739a !important;
  --bs-accordion-active-bg: #02739a !important;
}

.accordion-fly {
  --bs-accordion-bg: #fff !important;
  --bs-accordion-active-bg: #fff !important;
}

.custom-heading {
  font-family: "Chivo", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 3px;
  color: #222d35;
}

.custom-title {
  font-family: "Chivo", sans-serif;
  font-weight: 300;
  font-size: 42px;
  line-height: 50px;
  letter-spacing: 1px;
  color: #2d3845;
  margin-top: 0px;
}

.custom-em {
  font-style: italic;
  font-weight: 700;
}

.custom-paragraph {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  margin-top: 45px !important;
  color: #252525;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.8;
}

@media (max-width: 768px) {
  .custom-title {
    font-size: 25px;
    line-height: 30px;
  }

  .custom-paragraph {
    margin-top: 0px !important;
  }
}

/* card css  */
.card-tit {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 400;
  /* font-size: 22px;
  line-height: 30px;
  letter-spacing: 1px;
  margin-top: 0px; */
}

.card-tex {
  font-family: "Chivo", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

/* visa */
.card-visa {
  /* height: 299px; */
  width: 266px;
  margin-right: 10px;
  margin-left: 10px;
}

/* events */
.events-width {
  /* height: 299px; */
  width: 310px;
  margin-right: 10px;
  margin-left: 10px;
}

.border-color {
  border: 1px solid #fff !important;
  /* color: #9faebe; */
}

.visa-text {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
}

.visa-paragraph {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: #fff;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.8;
}

/* testimonial */
.testimonials {
  padding-top: 90px;
  padding-bottom: 90px;
  background: #02739a;
}

.testimonial-text {
  background-color: transparent;
  padding: 0;
  margin: 0px;
  font-size: 15px;
  line-height: 30px;
  font-weight: 100;
  color: #fff;
  font-family: "Muli", Tahoma, Geneva, sans-serif;
  border: 0;
  letter-spacing: 0;
}

.rating {
  margin-left: 5px;
}

@media (max-width: 768px) {
  .testimonials {
    padding-top: 70px;
    padding-bottom: 70px;
    background: #02739a;
  }
}

/* about agency css */
.about {
  padding-top: 90px;
  padding-bottom: 70px;
  margin-bottom: 0px;
}

.promo-image,
.ts-promo-image {
  border-radius: 6px;
}

.ts-promo-image {
  box-shadow: 0 9px 35px 0 rgba(0, 0, 0, 0.07);
  margin-right: 44px;
  left: 33% !important;
  top: 60% !important;
}

.about-text {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 22px;
  line-height: 36px;
  text-align: left;
  font-weight: 300;
  font-style: normal;
  color: #2d3845;
}

.custom-para {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: #252525;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.8;
  text-align: justify;
}

.list-style {
  list-style: none;
  padding-left: 0px;
}

.list-li-content {
  font-family: "Chivo", sans-serif;
  display: inline-block;
  padding-left: 20px;
  color: #5d6975;
  font-weight: 400;
  font-size: 15px;
  line-height: 27px;
}

.icon-circle {
  font-size: 2em;
}

.btn-about {
  color: #fff;
  background: #56c6d0;
  padding: 17px 30px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.5px;
  border-radius: 6px;
  text-decoration: none;
}

.btn-about:hover {
  background-color: #f47426;
  color: #fff;
}

.about-btn {
  margin-top: 50px;
}

/* visa css */

.visa {
  padding-top: 90px;
  padding-bottom: 90px;
  background: #02739a;
}

.vc_custom {
  padding-top: 40px !important;
  padding-right: 40px !important;
  padding-bottom: 40px !important;
  padding-left: 60px !important;
}

/* choose country */
.container-bg-layer {
  background-image: url("../images/map.png") !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
}

.choose-title {
  color: #2d3845;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 10px;
  margin-top: 0;
}

.choose-title:hover {
  color: #02739a !important;
  cursor: pointer;
}

.blog-title {
  color: #2d3845;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 20px;
}

.blog-title:hover {
  color: #02739a !important;
  cursor: pointer;
}


/* footer */
footer {
  background-color: #02739a !important;
}


.footer-btm {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.footerlogo {
  max-height: 90px;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .footerlogo {
    max-height: 50px;
    margin-bottom: 10px;
  }
}

/* #0067da */

/* progress_bar css  */
.progress_container {
  /* width: calc(100% - 2rem); */
  /* padding: 0 1rem; */
  margin: 0 auto;
}

.progress-content {
  /* height: 50vh !important; */
  /* display: flex; */
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.progress_item {
  padding: 0.5rem 0;
}

.progress_title {
  font-size: 20px;
  color: #2d3845;
  line-height: 30px;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 10px;
}

.progress_bar {
  position: relative;
  /* width: 60rem; */
  height: 10px;
  border-radius: 2rem;
  background: rgb(222, 222, 222);
}

@media (max-width: 1200px) {
  .progress-content {
    /* height: 70vh !important; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .progress_bar {
    width: 25rem;
  }
}

@media (max-width: 440px) {
  .progress_bar {
    width: 300px;
  }
}

@media (max-width: 340px) {
  .progress_bar {
    width: 280px;
  }
}

.bar {
  border-radius: inherit;
  background: linear-gradient(90deg, #02739a, #56c6d0);
  position: absolute;
  transition: width 1.5s cubic-bezier(0.1, 0.42, 0.85, 1);
  width: 0;
  height: 100%;
  left: 0;
}

.bar::after {
  content: attr(data-text);
  position: absolute;
  right: 0;
  top: -3rem;
  width: 4rem;
  height: 2rem;
  background: rgb(41, 61, 102);
  font-size: 18px;
  line-height: 2rem;
  color: #fff;
  text-align: center;
  border-radius: 0.1rem;
  animation: text 0.6s ease-in-out;
  font-weight: bold;
}

.bar::before {
  content: " ";
  position: absolute;
  right: 1rem;
  top: -1.2rem;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-top: 10px solid rgb(41, 61, 102);
  animation: text 0.6s ease-in-out;
}

@keyframes text {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .ts-promo-image {
    box-shadow: 0 9px 35px 0 rgba(0, 0, 0, 0.07);
    margin-right: 0px;
    left: 8% !important;
    top: 70% !important;
    width: 70%;
  }

  .testimonial-text {
    background-color: transparent;
    padding: 0;
    margin: 0px;
    font-size: 15px;
    line-height: 30px;
    font-weight: 100;
    color: #fff;
    font-style: inherit;
    font-family: "Muli", Tahoma, Geneva, sans-serif;
    border: 0;
    letter-spacing: 0;
  }

  .res-img {
    width: 90%;
  }
}

.bi {
  color: #56c6d0;
}

.bi:hover {
  color: #f47426 !important;
}

.msg-icon {
  color: #fff;
}

.fly-icon {
  color: #56c6d0;
}

.msg-icon:hover,
.fly-icon:hover {
  color: #f47426 !important;
}

#events {
  background: #f5f8fb;
}

.read-more-text {
  color: #02739a !important;
}

.blog-details-content {
  background-color: #fff;
  padding: 0px 16px !important;
  position: relative;
  box-shadow: 0 9px 35px 0 rgba(0, 0, 0, 0.07);
  -webkit-border-bottom-right-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -moz-border-radius-bottomleft: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

ol,
ul {
  padding-left: 0rem !important;
}

ul.a {
  list-style-type: none;
}

ul li {
  font-size: 14px;
  color: #27292b;
}

.main-holder .site #content table.cart td.actions .input-text,
.uneditable-input,
input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="datetime"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea {
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  -webkit-border-radius: 0;
  -moz-border-radius: 4px;
  border-radius: 4px;
  vertical-align: middle;
  width: 100%;
  color: #9faebe;
  padding: 16px 20px;
  font-weight: 400;
  background-color: #fff;
  text-transform: inherit;
  border: 1px solid rgba(119, 119, 119, 0.2);
  font-size: 14px;
  outline: 0;
  line-height: inherit;
  line-height: 24px;
  text-transform: none;
  letter-spacing: 0;
}

/* // circular progressbar  */
.wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.wrapper .card {
  background: #fff;
  width: calc(33% - 20px);
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.wrapper .card .circle {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  cursor: default;
}

.card .circle .box,
.card .circle .box span {
  position: absolute;
  top: 50%;
  left: 50%;
}

.card .circle .box {
  height: 100%;
  width: 100%;
  background: #fff;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  transition: all 0.2s;
}

.card .circle:hover .box {
  transform: translate(-50%, -50%) scale(0.91);
}

.card .circle .box span,
.wrapper .card .text {
  background: -webkit-linear-gradient(90deg, #02739a, #56c6d0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.circle .box span {
  font-size: 38px;
  font-family: sans-serif;
  font-weight: 600;
  transform: translate(-45%, -45%);
  transition: all 0.1s;
}

.card .circle:hover .box span {
  transform: translate(-45%, -45%) scale(1.09);
}

.card .text {
  font-size: 18px;
  font-family: "Chivo", sans-serif;

  /* font-weight: 600; */
}

@media (max-width: 753px) {
  .wrapper {
    max-width: 700px;
  }

  .wrapper .card {
    width: calc(50% - 20px);
    margin-bottom: 20px;
  }
}

@media (max-width: 505px) {
  .wrapper {
    max-width: 500px;
  }

  .wrapper .card {
    width: 50%;
  }

  .wrapper .card {
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  a.nav-link {
    color: #fff !important;
  }
}

.moveon-hover:hover {
  right: -10px !important;
  transition: all 1s;
}

/* contact us */
.titlebar-wrapper {
  background-image: url("../images/title-bg-4.jpg");
  background-color: transparent;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: 600px;
}

.titlebar-wrapper-header {
  padding-top: 250px;
}

@media screen and (max-width: 768px) {
  .titlebar-wrapper {
    background-position: top;
    height: 250px;
  }

  .titlebar-wrapper-header {
    padding-top: 110px;
  }
}

/* blog details  */
.form-control.position-relative.border::placeholder {
  color: white;
}

.post-date {
  font-family: "Chivo", sans-serif;
  font-size: 11px;
  line-height: 21px;
  text-transform: uppercase;
  color: #02739a !important;
  font-weight: 500;
  letter-spacing: 2px;
}

.blog-post-details {
  font-family: "Chivo", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #222d35;
}

.blog-post-details:hover {
  color: #02739a !important;
}

/* // slick  */
.slick-dots {
  display: block;
  justify-content: center;
  margin: 0;
  list-style-type: none;
  bottom: -50px !important;
}

@media screen and (max-width: 768px) {
  .slick-dots {
    bottom: -90px !important;
  }

  .country-content .slick-dots {
    bottom: -25px !important;
  }
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 0px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 25px !important;
  height: 0px !important;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: 0;
  background: 0 0;
}

.slick-dots li button::before {
  display: block !important;
  width: 25px !important;
  height: 0px !important;
  padding: 1px !important;
  cursor: pointer;
  color: transparent;
  padding: 0;
  border: none;
  background-color: #fff !important;
  content: "" !important;
}

.slick-dots li.slick-active button {
  /* background-color: #fff !important ; */
  content: "" !important;
}

#choose-country .slick-dots li button::before {
  display: block !important;
  width: 25px !important;
  height: 0px !important;
  padding: 1px !important;
  cursor: pointer;
  color: transparent;
  padding: 0;
  border: none;
  background-color: #02739a !important;
  content: "" !important;
}

#choose-country .slick-next::before {
  color: #02739a !important;
  padding-right: 15px;
}

#choose-country .slick-prev::before {
  color: #02739a !important;
  padding-left: 15px;
}

.accordion-button.accordion-button-light::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FFFFFF'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}

/* sister concern  */
.greenvalley-img img {
  width: 90%;
}

.services-content {
  padding: 0 10px 0 10px;
}

.slick-track {
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
}

#events .slick-initialized .slick-slide {
	display: flex !important;
}

.text-justify{
  text-align: justify !important;
}