<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Study Abroad - Skylane</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../assets/css/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="../assets/css/style.css" />
  </head>

  <body>
    <header id="home">
      <div class="topbar d-none d-md-block">
        <div class="container-fluid d-flex justify-content-between pe-0">
          <div class="d-flex gap-2 justify-content-start align-items-center">
            
            <span> 
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-envelope text-white"
                viewBox="0 0 16 16"
              >
                <path
                  d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"
                />
              </svg> </span
            ><span>Email Address: </span>
            <a href="mailto:someone@example.com" class="text-white text-decoration-none bi">
              mail@example.com
            </a>
          </div>

          <div class="d-flex gap-3 justify-content-end align-items-center">
            <a href="#" class="text-white text-decoration-none">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-facebook text-white"
                viewBox="0 0 16 16"
              >
                <path
                  d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"
                ></path>
              </svg>
            </a>
            <a href="#" class="text-white text-decoration-none">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-twitter text-white"
                viewBox="0 0 16 16"
              >
                <path
                  d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"
                ></path>
              </svg>
            </a>
            <a href="#" class="text-white text-decoration-none">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-instagram text-white"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z"
                ></path>
              </svg>
            </a>
            <a href="#" class="text-white text-decoration-none">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-pinterest text-white"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 0a8 8 0 0 0-2.915 15.452c-.07-.633-.134-1.606.027-2.297.146-.625.938-3.977.938-3.977s-.239-.479-.239-1.187c0-1.113.645-1.943 1.448-1.943.682 0 1.012.512 1.012 1.127 0 .686-.437 1.712-.663 2.663-.188.796.4 1.446 1.185 1.446 1.422 0 2.515-1.5 2.515-3.664 0-1.915-1.377-3.254-3.342-3.254-2.276 0-3.612 1.707-3.612 3.471 0 .688.265 1.425.595 1.826a.24.24 0 0 1 .056.23c-.061.252-.196.796-.222.907-.035.146-.116.177-.268.107-1-.465-1.624-1.926-1.624-3.1 0-2.523 1.834-4.84 5.286-4.84 2.775 0 4.932 1.977 4.932 4.62 0 2.757-1.739 4.976-4.151 4.976-.811 0-1.573-.421-1.834-.919l-.498 1.902c-.181.695-.669 1.566-.995 2.097A8 8 0 1 0 8 0z"
                />
              </svg>
            </a>
            <div class="topbar-btn">
              <a href="../contact-us/#contact-form" class="btn-topbar"
                >Book A Consultation
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-arrow-right text-white"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
                  />
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>

      <nav id="site-header-nav"
        class="navbar navbar-expand-sm  d-md-block d-none fixed-top pt-0 pb-0"
      >
        <div class="container-fluid">
          <a class="navbar-brand" href="../">
            <img
              class="nav-img img-fluid"
              src="../assets/images/skylane-logo-white.png"
              alt="skylane logo white"
            />
          </a>
          <button
            class="navbar-toggler border-0"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon d-none"></span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="36"
              height="36"
              fill="currentColor"
              class="bi bi-justify text-white border-0"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M2 12.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"
              />
            </svg>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ul-back pt-4 dropdown-adjust">
              <li class="nav-item">
                <a class="nav-link text-white" aria-current="page" href="../"
                  >HOME</a
                >
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link text-white" href="./">STUDY ABROAD</a>
                <ul class="dropdown-menu rounded-0 shadow-lg border-0">              
                <li class="nav-bottom-border">
                  <a class="dropdown-item canvas-text" href="./study-in-uk/">Study in UK</a>
                </li>
                <li class="nav-bottom-border">
                  <a class="dropdown-item canvas-text" href="./study-in-usa/">Study in USA</a>
                </li>
                <li class="nav-bottom-border">
                  <a class="dropdown-item canvas-text" href="./study-in-canada/"
                    >Study in Canada</a
                  >
                </li>
                <li class="nav-bottom-border">
                  <a class="dropdown-item canvas-text" href="./study-in-australia/"
                    >Study in Australia</a
                  >
                </li> 
                <li class="nav-bottom-border">
                  <a class="dropdown-item canvas-text" href="./study-in-malta/"
                    >Study in Malta</a
                  >
                </li> 
                <li class="nav-bottom-border">
                  <a class="dropdown-item canvas-text" href="./study-in-dubai/"
                    >Study in Dubai</a
                  >
                </li> 
                <li class="nav-bottom-border">
                  <a class="dropdown-item canvas-text" href="./study-in-europe/"
                    >Study in Europe</a
                  >
                </li> 
                <li class="nav-bottom-border">
                  <a class="dropdown-item canvas-text" href="./study-in-malaysia/"
                    >Study in Malaysia</a
                  >
                </li>                                           
              </ul>
              </li> 
              <li class="nav-item">
                <a class="nav-link text-white" href="../scholarship/">SCHOLARSHIP</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link text-white" href="../universities-we-represent/">UNIVERSITIES</a>                 
                <ul class="dropdown-menu rounded-0 shadow-lg border-0">              
                <li class="nav-bottom-border">
                  <a class="dropdown-item canvas-text" href="../universities-we-represent/">University we represent</a>
                </li>
                </ul>
              </li>
              
              <li class="nav-item">
                <a class="nav-link text-white" href="../success-stories/">SUCCESS STORIES</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="../blog/">BLOG</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="../contact-us/">CONTACT</a>
              </li>
            </ul>
            <!-- questions hamburger option -->
            <div class="d-md-block d-none">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <div class="d-flex flex-row align-items-center">
                    <i class="fa-solid fa-messages fa-flip-horizontal"></i>
                     <svg
                      version="1.1"
                      id="Layer_1"
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      x="0px"
                      y="0px"
                      viewBox="0 0 10.3 11.4"
                      style="enable-background: new 0 0 10.3 11.4"
                      xml:space="preserve"
                      height="44"
                      fill="white"
                    >
                      <path
                        d="M7.9,8.8c0,0.2-0.1,0.3-0.3,0.3H5.2C5,9.1,4.8,9.2,4.7,9.3l-1.2,0.9V9.9c0-0.5-0.4-0.8-0.8-0.8H1.1C0.9,9.1,0.8,9,0.8,8.8
	                        v-5c0-0.2,0.1-0.3,0.3-0.3h1.2C2.2,3.2,2.1,3,2,2.7H1.1C0.5,2.7,0,3.2,0,3.8v4.9c0,0.6,0.5,1.1,1.1,1.1h1.6v1.4
	                        c0,0.1,0.1,0.2,0.2,0.2s0.2,0,0.3,0l0.3-0.2l0.1-0.1l0,0l1.7-1.3h2.4c0.6,0,1.1-0.5,1.1-1.1V6.5C8.5,6.5,8.2,6.4,8,6.4L7.9,8.8
	                        C8,8.8,7.9,8.8,7.9,8.8z"
                      />
                      <path
                        d="M9.2,6.3c0.2,0,0.3-0.1,0.3-0.3V1.1c0-0.2-0.1-0.3-0.3-0.3H2.6c-0.2,0-0.3,0.1-0.3,0.3V6c0,0.2,0.1,0.3,0.3,0.3H5
	                        c0.2,0,0.4,0.1,0.5,0.2l1.2,0.9V7.1c0-0.5,0.4-0.8,0.8-0.8C7.5,6.3,9.2,6.3,9.2,6.3z M5,7.1H2.6C2,7.1,1.5,6.6,1.5,6V1.1
	                        C1.5,0.5,2,0,2.6,0h6.6c0.6,0,1.1,0.5,1.1,1.1V6c0,0.6-0.5,1.1-1.1,1.1H8.4H7.6v0.8V8l0,0v0.1v0.4c0,0.1-0.1,0.2-0.2,0.2
	                        s-0.2,0-0.3,0L6.8,8.5L6.7,8.4l0,0L5,7.1z"
                      />
                    </svg>
                    <div class="div ps-3" data-bs-toggle="modal" data-bs-target="#haveQaModal">
                      <span class="nav-lin text-white phn-text">
                        Have any Questions?</span
                      >
                      <br />
                      <a href="tel:+8809611-677635" class="text-decoration-none">
                        <span class="nav-lin text-white phn-text"
                          >+8809611-677635</span
                        >
                      </a>
                    </div>
                    <div class="d-flex ps-3" style="height: 95px;">
                      <div class="vr text-white"></div>
                    </div>
                    <p class="mb-0 ps-4" data-bs-toggle="modal" data-bs-target="#searchModal">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="26"
                        height="26"
                        fill="currentColor"
                        class="bi bi-search text-white"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
                        />
                      </svg>
                    </p>
                    <div class="d-flex ps-3" style="height: 95px;">
                      <div class="vr text-white"></div>
                    </div>
                  </div>
                </li>
                <button
                  class="btn-text ps-3"
                  type="button"
                  data-bs-toggle="offcanvas"
                  data-bs-target="#offcanvasWithBothOptions"
                  aria-controls="offcanvasWithBothOptions"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="36"
                    height="36"
                    fill="currentColor"
                    class="bi bi-justify text-white"
                    viewBox="0 0 16 16"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M2 12.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"
                    />
                  </svg>
                </button>
              </ul>
            </div>
          </div>
        </div>
      </nav>
      <!-- have a question popup -->
      <div class="modal fade" id="haveQaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
          <div class="modal-content  bg-body-tertiary">
            <div class="modal-header border-0">
              <h2 class="custom-title">
                Any <em class="custom-em">Questions ?</em>
              </h2>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body pb-5">
              <div class="row">                
                <div class="col-md-12">
                  <div class="input-group">
                    <p>
                      <span class="wpcf7-form-control-wrap" data-name="your-name"><input size="100" class="wpcf7-form-control wpcf7-text" aria-invalid="false" placeholder="Name" value="" type="text" name="your-name"></span>
                    </p>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="input-group">
                    <p>
                      <span class="wpcf7-form-control-wrap" data-name="your-email"><input size="100" class="wpcf7-form-control wpcf7-text" aria-invalid="false" placeholder="Phone" value="" type="tel" name="your-phone"></span>
                    </p>
                  </div>
                </div>
                <div class="col-12 mt-3">
                  <a type="submit" class="btn-about">Submit query</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- search pop up -->
      <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
          <div class="modal-content  bg-body-tertiary">
            <div class="modal-header border-0">
              <h2 class="custom-title">
                Search What You <em class="custom-em">want ?</em>
              </h2>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body pb-5">
              <div class="container-fluid">
                <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn-about" type="submit">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="26"
                        height="26"
                        fill="currentColor"
                        class="bi bi-search text-white"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
                        />
                      </svg>
                    </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- hamburger button -->
      <div
        class="offcanvas offcanvas-end offcanvas-nav"
        data-bs-scroll="true"
        tabindex="-1"
        id="offcanvasWithBothOptions"
        aria-labelledby="offcanvasWithBothOptionsLabel"
      >
        <div class="offcanvas-header pt-5 ps-4">
          <img
            class="nav-img img-fluid"
            src="../assets/images/skylane-logo-white.png"
            alt="skylane logo white"
          />
          <button
            type="button"
            class="btn-close text-white"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>
        <div class="offcanvas-body pe-5 ps-5">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item nav-bottom-border">
              <a
                class="nav-link text-white canvas-text"
                aria-current="page"
                href="../"
                >HOME</a
              >
            </li>
            <li class="nav-item dropdown  nav-bottom-border">
              <a
                class="nav-link dropdown-toggle text-white canvas-text"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                OVERVIEW
              </a>
              <ul class="dropdown-menu dropdown-menu border-0 offcanvas-ul">
                <li class="nav-bottom-border">
                  <a class="dropdown-item canvas-text" href="../about-us/">About Us</a>
                </li>
                <li class="nav-bottom-border">
                  <a class="dropdown-item canvas-text" href="../our-services/">Our Services</a>
                </li>
                <li class="nav-bottom-border">
                  <a class="dropdown-item canvas-text" href="../about-us/#mission"
                    >Our Mission and Vision</a
                  >
                </li>
                <li class="nav-bottom-border">
                  <a class="dropdown-item canvas-text" href="#"
                    >Message from the CEO</a
                  >
                </li>
                <li class="nav-bottom-border">
                  <a class="dropdown-item canvas-text" href="../about-us/#choose"
                    >Why Choose US?</a
                  >
                </li>
                <li class="nav-bottom-border">
                  <a class="dropdown-item canvas-text" href="../certificate-of-recognitions/"
                    >Certificate of Recognitions</a
                  >
                </li>
                <li>
                  <a class="dropdown-item canvas-text" href="#"
                    >Other Sister Concerns</a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown  nav-bottom-border">
              <a
                class="nav-link dropdown-toggle text-white canvas-text"
                href="./"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                STUDY ABROAD
              </a>
              <ul class="dropdown-menu dropdown-menu border-0 offcanvas-ul">
                <li class="nav-bottom-border">
                  <a class="dropdown-item canvas-text" href="./study-in-uk/">Study in UK</a>
                </li>
                <li class="nav-bottom-border">
                  <a class="dropdown-item canvas-text" href="./study-in-usa/">Study in USA</a>
                </li>
                <li class="nav-bottom-border">
                  <a class="dropdown-item canvas-text" href="./study-in-canada/"
                    >Study in Canada</a
                  >
                </li>
                <li class="nav-bottom-border">
                  <a class="dropdown-item canvas-text" href="./study-in-australia/"
                    >Study in Australia</a
                  >
                </li>
                <li class="nav-bottom-border">
                  <a class="dropdown-item canvas-text" href="./study-in-malta/"
                    >Study in Malta</a
                  >
                </li> 
                <li class="nav-bottom-border">
                  <a class="dropdown-item canvas-text" href="./study-in-dubai/"
                    >Study in Dubai</a
                  >
                </li> 
                <li class="nav-bottom-border">
                  <a class="dropdown-item canvas-text" href="./study-in-europe/"
                    >Study in Europe</a
                  >
                </li> 
                <li class="nav-bottom-border">
                  <a class="dropdown-item canvas-text" href="./study-in-malaysia/"
                    >Study in Malaysia</a
                  >
                </li> 
              </ul>
            </li>
            <li class="nav-item dropdown  nav-bottom-border">
              <a
                class="nav-link dropdown-toggle text-white canvas-text"
                href="../scholarship/"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                SCHOLARSHIP
              </a>
              <ul class="dropdown-menu dropdown-menu border-0 offcanvas-ul">
                <li class="nav-bottom-border">
                  <a class="dropdown-item canvas-text" href="../scholarship/">
                    Scholarship Offers</a
                  >
                </li>
                <li>
                </li>
                <li>
                  <a class="dropdown-item canvas-text" href="#"
                    >Scholarship Assistance</a
                  >
                </li>
                <li>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown  nav-bottom-border">
              <a
                class="nav-link dropdown-toggle text-white canvas-text"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                UNIVERSITY
              </a>
              <ul class="dropdown-menu dropdown-menu border-0 offcanvas-ul">
                <li class="nav-bottom-border">
                  <a class="dropdown-item canvas-text" href="../universities-we-represent/"
                    >Universities We Represent</a
                  >
                </li>
                <li>
                </li>
                <li>
                  <a class="dropdown-item canvas-text" href="#"
                    >University Visits</a
                  >
                </li>
                <li>
                </li>
              </ul>
            </li>
            <li class="nav-item  nav-bottom-border">
              <a class="nav-link text-white canvas-text" href="../photo-gallery/"
                >PHOTO GALLERY</a
              >
            </li>
            <li class="nav-item  nav-bottom-border">
              <a class="nav-link text-white canvas-text" href="../#testimonials"
                >TESTIMONIALS</a
              >
            </li>
            <li class="nav-item  nav-bottom-border">
              <a class="nav-link text-white canvas-text" href="../faq/">FAQS</a>
            </li>
            <li class="nav-item  nav-bottom-border">
              <a class="nav-link text-white canvas-text" href="../contact-us/"
                >CONTACT US
              </a>
            </li>
          </ul>
          <div
            class="d-flex gap-5 justify-content-start align-items-center pt-4"
          >
            <a href="#" class="text-white text-decoration-none">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="26"
                height="26"
                fill="currentColor"
                class="bi bi-facebook text-white"
                viewBox="0 0 16 16"
              >
                <path
                  d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"
                />
              </svg>
            </a>
            <a href="#" class="text-white text-decoration-none">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="26"
                height="26"
                fill="currentColor"
                class="bi bi-twitter text-white"
                viewBox="0 0 16 16"
              >
                <path
                  d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"
                />
              </svg>
            </a>
            <a href="#" class="text-white text-decoration-none">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="26"
                height="26"
                fill="currentColor"
                class="bi bi-instagram text-white"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z"
                />
              </svg>
            </a>
          </div>
        </div>
      </div>
<!-- mobile -bottom-nav -->
      <div class="mobile-navbar d-md-none d-block">
        <div class="row pt-2">
          <div class="col-3 text-center d-flex flex-column">
            <a href="#home" class="pb-0">
              <span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  fill="currentColor"
                  class="bi bi-house text-white"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z"
                  />
                </svg>
              </span>
              <a href="#home" class="mt-0 pt-0">Home</a>
            </a>
          </div>
          <div class="col-3 text-center d-flex flex-column">
            <a href="tel:0123888555" class="pb-0">
              <span class="mb-0">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  fill="currentColor"
                  class="bi bi-telephone text-white"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"
                  />
                </svg>
              </span>
              <a href="tel:0123888555" class="pt-0">Call Us</a>
            </a>
          </div>
          <div class="col-3 text-center d-flex flex-column">
            <a href="#" class="pb-0">
              <span class="mb-0">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  fill="currentColor"
                  class="bi bi-geo-alt-fill text-white"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"
                  />
                </svg>
              </span>
              <a href="#contact" class="pt-0">Map</a>
            </a>
          </div>
          <div class="col-3 text-center d-flex flex-column">
            <a href="#" class="pb-0">
              <span class="mb-0">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  fill="currentColor"
                  class="bi bi-person-lines-fill text-white"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z"
                  />
                </svg>
              </span>
              <a href="#contact" class="pt-0">Contact</a>
            </a>
          </div>
        </div>
      </div>

      <!-- mobile nav  -->
      <nav
        class="navbar navbar bg-transparent fixed-to d-md-none d-block nav-ele"
      >
        <div class="container-fluid">
          <a class="navbar-brand" href="../">
            <img
              class="nav-img img-fluid"
              src="../assets/images/Skylane-logo2.png"
              alt="skylane mobile logo"
            />
          </a>
          <button
            class="navbar-toggler border-0"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasDarkNavbar"
            aria-controls="offcanvasDarkNavbar"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon text-white"></span>
          </button>
          <div
            class="offcanvas offcanvas-end text-bg-white w-75"
            tabindex="-1"
            id="offcanvasDarkNavbar"
            aria-labelledby="offcanvasDarkNavbarLabel"
          >
            <div class="offcanvas-header pt-4 ps-0">
              <img
                class="nav-img img-fluid"
                src="../assets/images/skylane-logo-white.png"
                alt="skylane mobile white logo"
              />
              <button
                type="button"
                class="btn-close btn-close-white"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
              ></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a
                    class="nav-link text-white canvas-text nav-bottom-border"
                    aria-current="page"
                    href="../"
                    >HOME</a
                  >
                </li>
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle text-white canvas-text nav-bottom-border"
                    href="#"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    OVERVIEW
                  </a>
                  <ul class="dropdown-menu dropdown-menu border-0 offcanvas-ul pt-0">
                    <li class="nav-bottom-border">
                      <a class="dropdown-item canvas-text" href="../about-us/">About Us</a>
                    </li>                   
                    <li class="nav-bottom-border">
                      <a class="dropdown-item canvas-text" href="../our-services/"
                        >Our Services</a
                      >
                    </li>
                    <li class="nav-bottom-border">
                      <a class="dropdown-item canvas-text" href="../about-us/#mission"
                    >Our Mission and Vision</a
                      >
                    </li>
                    <li class="nav-bottom-border">
                      <a class="dropdown-item canvas-text" href="#"
                        >Message from the CEO</a
                      >
                    </li>
                    <li class="nav-bottom-border">
                      <a class="dropdown-item canvas-text" href="../about-us/#choose"
                        >Why Choose US?</a
                      >
                    </li>
                    <li class="nav-bottom-border">
                      <a class="dropdown-item canvas-text" href="../certificate-of-recognitions/"
                        >Certificate of Recognitions</a
                      >
                    </li>
                    <li class="nav-bottom-border">
                      <a class="dropdown-item canvas-text" href="#"
                        >Other Sister Concerns</a
                      >
                    </li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle text-white canvas-text nav-bottom-border"
                    href="./"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    STUDY ABROAD
                  </a>
                  <ul class="dropdown-menu offcanvas-ul border-0 pt-0">
                    <li class="nav-bottom-border">
                      <a class="dropdown-item canvas-text" href="./study-in-uk/"
                        >Study in UK</a
                      >
                    </li>                    
                    <li class="nav-bottom-border">
                      <a class="dropdown-item canvas-text" href="./study-in-usa/"
                        >Study in USA</a
                      >
                    </li>
                    <li class="nav-bottom-border">
                      <a class="dropdown-item canvas-text" href="./study-in-canada/"
                        >Study in Canada</a
                      >
                    </li>                    
                    <li class="nav-bottom-border">
                      <a class="dropdown-item canvas-text" href="./study-in-australia/"
                        >Study in Australia</a
                      >
                    </li>
                    <li class="nav-bottom-border">
                      <a class="dropdown-item canvas-text" href="./study-in-malta/"
                        >Study in Malta</a
                      >
                    </li> 
                    <li class="nav-bottom-border">
                      <a class="dropdown-item canvas-text" href="./study-in-dubai/"
                        >Study in Dubai</a
                      >
                    </li> 
                    <li class="nav-bottom-border">
                      <a class="dropdown-item canvas-text" href="./study-in-europe/"
                        >Study in Europe</a
                      >
                    </li> 
                    <li class="nav-bottom-border">
                      <a class="dropdown-item canvas-text" href="./study-in-malaysia/"
                        >Study in Malaysia</a
                      >
                    </li> 
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle text-white canvas-text nav-bottom-border"
                    href="../scholarship/"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    SCHOLARSHIP
                  </a>
                  <ul class="dropdown-menu offcanvas-ul border-0 pt-0">
                    <li class="nav-bottom-border">
                      <a class="dropdown-item canvas-text" href="../scholarship/">
                        Scholarship Offers</a
                      >
                    </li>
                    <li class="nav-bottom-border">
                      <a class="dropdown-item canvas-text" href="#"
                        >Scholarship Assistance</a
                      >
                    </li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle text-white canvas-text nav-bottom-border"
                    href="#"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    UNIVERSITY
                  </a>
                  <ul class="dropdown-menu offcanvas-ul border-0 pt-0">
                    <li class="nav-bottom-border">
                      <a class="dropdown-item canvas-text" href="../universities-we-represent/"
                        >Universities We Represent</a
                      >
                    </li>
                    <li class="nav-bottom-border">
                      <a class="dropdown-item canvas-text" href="#"
                        >University Visits</a
                      >
                    </li>                    
                  </ul>
                </li>
                <li class="nav-item nav-bottom-border">
                  <a class="nav-link text-white canvas-text" href="../photo-gallery/"
                    >PHOTO GALLERY</a
                  >
                </li>
                <li class="nav-item nav-bottom-border">
                  <a class="nav-link text-white canvas-text" href="../#testimonials"
                    >TESTIMONIALS</a
                  >
                </li>
                <li class="nav-item nav-bottom-border">
                  <a class="nav-link text-white canvas-text" href="../faq/">FAQS</a>
                </li>
                <li class="nav-item nav-bottom-border">
                  <a class="nav-link text-white canvas-text" href="../contact-us/"
                    >CONTACT US
                  </a>
                </li>
              </ul>
              <div
              class="d-flex gap-5 justify-content-start align-items-center pt-4"
            >
              <a href="#" class="text-white text-decoration-none">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="26"
                  height="26"
                  fill="currentColor"
                  class="bi bi-facebook text-white"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"
                  />
                </svg>
              </a>
              <a href="#" class="text-white text-decoration-none">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="26"
                  height="26"
                  fill="currentColor"
                  class="bi bi-twitter text-white"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"
                  />
                </svg>
              </a>
              <a href="#" class="text-white text-decoration-none">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="26"
                  height="26"
                  fill="currentColor"
                  class="bi bi-instagram text-white"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z"
                  />
                </svg>
              </a>
            </div>
            </div>            
          </div>
        </div>
      </nav>
    </header>
    <!-- study abroad banner  -->
    <div
      class="themestek-titlebar-wrapper themestek-bg themestek-bgcolor-transparent themestek-titlebar-align-allleft themestek-textcolor-white themestek-bgimage-yes"
    >
      <div
        class="themestek-titlebar-wrapper-bg-layer themestek-bg-layer"
      ></div>
      <div class="themestek-titlebar entry-header">
        <div class="themestek-titlebar-inner-wrapper">
          <div class="themestek-titlebar-main">
            <div class="container">
              <div class="themestek-titlebar-main-inner">
                <div class="entry-title-wrapper">
                  <div class="container">
                    <h1 class="entry-title text-white">Study Abroad</h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- .themestek-titlebar-main -->
        </div>
        <!-- .themestek-titlebar-inner-wrapper -->
      </div>
      <!-- .themestek-titlebar -->
    </div>
    <!-- study abroad country -->
    <section id="study-abroad">
      <div class="container country-content pt-md-5">
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col bg-transparent">
            <div class="card h-100 border-0">
              <div class="d-flex justify-content-center">
                <img
                  src="../assets/images/country-04.jpg"
                  class="card-img-top res-img res-img"
                  alt="..."
                />
              </div>
              <div class="card-body">
                <h3 class="text-center choose-title">United Kingdom</h3>
                <p class="text-center custom-para">
                  Studying in the United Kingdom quis nostrud exercitation
                  ullamco.
                </p>
              </div>
              <div class="card-footer border-0 bg-transparent text-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  fill="currentColor"
                  class="bi bi-arrow-right read-more-text"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
                  />
                </svg>
                <a href="./study-in-uk/" class="text-decoration-none read-more-text"
                  >Read More</a
                >
              </div>
            </div>
          </div>
          <div class="col bg-transparent">
            <div class="card h-100 border-0 bg-transparent">
              <div class="d-flex justify-content-center">
                <img
                  src="../assets/images/home/country-01.jpg"
                  class="card-img-top res-img res-img"
                  alt="..."
                />
              </div>
              <div class="card-body">
                <h5 class="text-center choose-title">United States</h5>
                <p class="text-center custom-para">
                  Studying In The United State of America quis nostrud
                  exercitation
                </p>
              </div>
              <div class="card-footer border-0 bg-transparent text-center">
                <span class="position-relative">
                  <span
                    class="position-absolute right-0 moveon-hover"
                    style="right: 0"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="20"
                      height="20"
                      fill="currentColor"
                      class="bi bi-circle"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                      />
                    </svg>
                  </span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    fill="currentColor"
                    class="bi bi-arrow-right read-more-text"
                    viewBox="0 0 16 16"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
                    />
                  </svg>
                </span>
                <a href="./study-in-usa/" class="text-decoration-none read-more-text ps-2"
                  >Read More</a
                >
              </div>
            </div>
          </div>
          <div class="col bg-transparent">
            <div class="card h-100 border-0">
              <div class="d-flex justify-content-center">
                <img
                  src="../assets/images/home/country-03.jpg"
                  class="card-img-top res-img res-img"
                  alt="..."
                />
              </div>
              <div class="card-body">
                <h5 class="text-center choose-title">Canada</h5>
                <p class="text-center custom-para">
                  Studying in the Canada quis nostrud exercitation ullamco
                  laboris
                </p>
              </div>
              <div class="card-footer border-0 bg-transparent text-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  fill="currentColor"
                  class="bi bi-arrow-right read-more-text"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
                  />
                </svg>
                <a href="./study-in-canada/" class="text-decoration-none read-more-text"
                  >Read More</a
                >
              </div>
            </div>
          </div>  
          <div class="col bg-transparent">
            <div class="card h-100 border-0 bg-transparent">
              <div class="d-flex justify-content-center">
                <img
                  src="../assets/images/home/country-02.jpg"
                  class="card-img-top res-img res-img"
                  alt="..."
                />
              </div>
              <div class="card-body bg-transparent">
                <h5 class="text-center choose-title">Australia</h5>
                <p class="text-center custom-para">
                  Studying in the Australia quis nostrud exercitation ullamco
                  laboris.
                </p>
              </div>
              <div class="card-footer border-0 bg-transparent text-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  fill="currentColor"
                  class="bi bi-arrow-right read-more-text"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
                  />
                </svg>
                <a href="./study-in-australia/" class="text-decoration-none read-more-text"
                  >Read More</a
                >
              </div>
            </div>
          </div>                  
          <div class="col bg-transparent">
            <div class="card h-100 border-0">
              <div class="d-flex justify-content-center">
                <img
                  src="../assets/images/country-05.jpg"
                  class="card-img-top res-img res-img"
                  alt="..."
                />
              </div>
              <div class="card-body">
                <h3 class="text-center choose-title">Malta</h3>
                <p class="text-center custom-para">
                  Studying in the Malta nostrud exercitation ullamco
                  laboris
                </p>
              </div>
              <div class="card-footer border-0 bg-transparent text-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  fill="currentColor"
                  class="bi bi-arrow-right read-more-text"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
                  />
                </svg>
                <a href="./study-in-malta/" class="text-decoration-none read-more-text"
                  >Read More</a
                >
              </div>
            </div>
          </div>
          <div class="col bg-transparent">
            <div class="card h-100 border-0">
              <div class="d-flex justify-content-center">
                <img
                  src="../assets/images/country-06.jpg"
                  class="card-img-top res-img res-img"
                  alt="..."
                />
              </div>
              <div class="card-body">
                <h3 class="text-center choose-title">Dubai</h3>
                <p class="text-center custom-para">
                  Studying in the Dubai nostrud exercitation ullamco
                  laboris
                </p>
              </div>
              <div class="card-footer border-0 bg-transparent text-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  fill="currentColor"
                  class="bi bi-arrow-right read-more-text"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
                  />
                </svg>
                <a href="./study-in-dubai/" class="text-decoration-none read-more-text"
                  >Read More</a
                >
              </div>
            </div>
          </div>
          <div class="col bg-transparent">
            <div class="card h-100 border-0">
              <div class="d-flex justify-content-center">
                <img
                  src="../assets/images/country-07.jpg"
                  class="card-img-top res-img res-img"
                  alt="..."
                />
              </div>
              <div class="card-body">
                <h3 class="text-center choose-title">Europe</h3>
                <p class="text-center custom-para">
                  Studying in the Europe quis nostrud exercitation ullamco
                  laboris
                </p>
              </div>
              <div class="card-footer border-0 bg-transparent text-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  fill="currentColor"
                  class="bi bi-arrow-right read-more-text"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
                  />
                </svg>
                <a href="./study-in-europe/" class="text-decoration-none read-more-text"
                  >Read More</a
                >
              </div>
            </div>
          </div>
          <div class="col bg-transparent">
            <div class="card h-100 border-0">
              <div class="d-flex justify-content-center">
                <img
                  src="../assets/images/country-08.jpg"
                  class="card-img-top res-img res-img"
                  alt="..."
                />
              </div>
              <div class="card-body">
                <h3 class="text-center choose-title">Malaysia</h3>
                <p class="text-center custom-para">
                  Studying in the Malaysia nostrud exercitation ullamco
                  laboris
                </p>
              </div>
              <div class="card-footer border-0 bg-transparent text-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  fill="currentColor"
                  class="bi bi-arrow-right read-more-text"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
                  />
                </svg>
                <a href="./study-in-malaysia/" class="text-decoration-none read-more-text"
                  >Read More</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- footer  -->
    <footer>
      <div class="container footer-content">
        <div class="row row-cols-1 row-cols-md-4 g-4 footer-btm pb-5">
          <div class="col">
            <p>
              <img
                class="footerlogo img-fluid"
                src="../assets/images/skylane-logo-white.png"
                alt="skylane logo white"
              />
            </p>
            <p class="footer-ele text-white">
              Skyline Perfect fir online courses and other institutes.It's a
              complete solution with Ims feature and functionalities.
            </p>
            <div
              class="d-flex gap-3 justify-content-start align-items-center"
            >
              <a href="#" class="text-white text-decoration-none">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="26"
                  height="26"
                  fill="currentColor"
                  class="bi bi-facebook text-white"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"
                  ></path>
                </svg>
              </a>
              <a href="#" class="text-white text-decoration-none">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="26"
                  height="26"
                  fill="currentColor"
                  class="bi bi-twitter text-white"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"
                  ></path>
                </svg>
              </a>
              <a href="#" class="text-white text-decoration-none">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="26"
                  height="26"
                  fill="currentColor"
                  class="bi bi-instagram text-white"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z"
                  ></path>
                </svg>
              </a>
            </div>
          </div>
          <div class="col">
            <h3 class="widget-title fw-bold">Dhaka Branch</h3>
            <div class="text-white d-flex">
              <p class="pe-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-geo-alt-fill text-white"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"
                  />
                </svg>
              </p>
              <div class="div">
                <p class="text-white mb-0 footer-element">
                  3rd Floor, Rahima Tower
                </p>
                <p class="text-white mb-0 footer-element">
                  Ga-99/5 Pragati Sarani
                </p>
                <p class="text-white mb-0 footer-element">
                  Gulshan-Badda Link Road, Dhaka-1212.
                </p>
              </div>
            </div>
            <div class="text-white d-flex mt-2">
              <p class="pe-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-telephone-fill text-white"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"
                  />
                </svg>
              </p>
              <p class="footer-element text-white">
                +8801708-000493, +8809611-677635
              </p>
            </div>
          </div>
          <div class="col">
            <h3 class="widget-title fw-bold">Narayanganj Branch</h3>
            <div class="text-white d-flex">
              <p class="pe-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-geo-alt-fill text-white"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"
                  />
                </svg>
              </p>
              <div class="div">
                <p class="text-white mb-0 footer-element">
                  3rd Floor, Sahera Zaman Emporium
                </p>
                <p class="text-white mb-0 footer-element">
                  Balur Math, (Near Islam Heart Centre)
                </p>
                <p class="text-white mb-0 footer-element">Narayanganj-1400</p>
              </div>
            </div>
            <div class="text-white d-flex justify-content-center mt-2">
              <p class="pe-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-telephone-fill text-white"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"
                  />
                </svg>
              </p>
              <p class="text-white footer-element">
                +8801790-313366, +8809611-677285
              </p>
            </div>
          </div>
          <div class="col">
            <h3 class="widget-title fw-bold">UK Branch</h3>
            <div class="text-white d-flex">
              <p class="pe-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-geo-alt-fill text-white"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"
                  />
                </svg>
              </p>
              <div class="div">
                <p class="text-white mb-0 footer-element">Room no 20,22</p>
                <p class="text-white mb-0 footer-element">
                  market square E146AB,
                </p>
                <p class="text-white mb-0 footer-element">London, UK</p>
              </div>
            </div>
            <div class="text-white d-flex mt-2">
              <p class="pe-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-telephone-fill text-white"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"
                  />
                </svg>
              </p>
              <p class="text-whitefooter-element">+44-7862-064391</p>
            </div>
          </div>
        </div>
        <div class="pt-2 pb-5 pb-md-0">
          <div class="row pb-2 justify-content-between align-items-center">
            <div class="col text-center text-md-start">
              <span class="copyright-ele text-white"
                >Copyright  2023, X. All Rights Reserved.</span
              >
            </div>
            <div
            class="col-lg-5 d-flex gap-3 justify-content-center justify-content-lg-end align-items-center pb-3 pb-md-0"
          >
            <p class="copyright-ele mb-0">
              <a href="../about-us/" class="text-white text-decoration-none">
                About Us
              </a>
            </p>
            <p class="copyright-ele mb-0">
              <a href="../contact-us/" class="text-white text-decoration-none">
                Contact Us
              </a>
            </p>
            <p class="copyright-ele mb-0">
              <a href="../faq/" class="text-white text-decoration-none">
                FAQs
              </a>
            </p>
          </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- script -->
    <script
      type="text/javascript"
      src="../assets/js/popper.min.js"
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../assets/js/script.js"></script>
  </body>
</html>
