<section id="partners">
    <div class="container  pt-5">
      <h4 class="custom-heading">OUR PARTNERS</h4>
      <h2 class="custom-title">
        Affiliated Groups &
        <em class="custom-em">Universities</em>
      </h2>

      <div class="align-items-center text-center pt-5 pb-5 univ row">
        <div class="col-md-3 col-sm-3 col-1">
          <div class="d-flex justify-content-center">
            <img
              class="img-fluid w-25"
              src="/assets/images/home/gbs-logo.png"
              alt="gbs logo"
            />
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-1">
          <div class="d-flex justify-content-center">
            <img
              class="img-fluid w-50"
              src="/assets/images/home/wrexham-university-logo.png"
              alt="wrexham university logo"
            />
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-1">
          <div class="d-flex justify-content-center">
            <img
              class="img-fluid w-50"
              src="/assets/images/home/arden-online-logo.png"
              alt="arden online logo"
            />
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-1">
          <div class="d-flex justify-content-center">
            <img
              class="img-fluid w-50"
              src="/assets/images/home/study-group.png"
              alt="study group"
            />
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-1">
          <div class="d-flex justify-content-center">
            <img
              class="img-fluid w-50"
              src="/assets/images/universities/canada/wright-logo.png"
              alt="wright logo"
            />
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-1">
          <div class="d-flex justify-content-center">
            <img
              class="img-fluid w-50"
              src="/assets/images/universities/canada/kent-logo.png"
              alt="kent logo"
            />
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-1">
          <div class="d-flex justify-content-center">
            <img
              class="img-fluid w-50"
              src="/assets/images/universities/canada/tarleton-logo.png"
              alt="tarleton logo"
            />
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-1">
          <div class="d-flex justify-content-center">
            <img
              class="img-fluid w-50"
              src="/assets/images/universities/canada/manitoba-logo.png"
              alt="manitoba logo"
            />
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-1">
          <div class="d-flex justify-content-center">
            <img
              class="img-fluid w-50"
              src="/assets/images/universities/canada/waterloo-logo.png"
              alt="waterloo logo"
            />
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-1">
          <div class="d-flex justify-content-center">
            <img
              class="img-fluid w-50"
              src="/assets/images/universities/canada/torontomet-logo.png"
              alt="torontomet logo"
            />
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-1">
          <div class="d-flex justify-content-center">
            <img
              class="img-fluid w-50"
              src="/assets/images/universities/canada/saskatchewan-logo.png"
              alt="saskatchewan logo"
            />
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-1">
          <div class="d-flex justify-content-center">
            <img
              class="img-fluid w-50"
              src="/assets/images/universities/canada/winnipeg-logo.png"
              alt="rwinnipeg logo"
            />
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-1">
          <div class="d-flex justify-content-center">
            <img
              class="img-fluid w-50"
              src="/assets/images/universities/canada/upei-logo.png"
              alt="upei logo"
            />
          </div>
        </div>
      </div>
    </div>
  </section>