<div class="pe-4 ps-4 pb-5">
    <h4 class="custom-heading"> Book a free consultancy</h4>
    <p class="custom-para">
      Book a free consultancy with one of our expert consultants!
    </p>
    <div class="row">
      <div class="col-md-12">
        <div class="input-group">
          <p>
            <span
              class="wpcf7-form-control-wrap"
              data-name="your-name"
              ><input
                size="100"
                class="wpcf7-form-control wpcf7-text"
                aria-invalid="false"
                placeholder="Name"
                value=""
                type="text"
                name="your-name"
            /></span>
          </p>
        </div>
      </div>
      <div class="col-md-12">
        <div class="input-group">
          <p>
            <span
              class="wpcf7-form-control-wrap"
              data-name="your-email"
              ><input
                size="100"
                class="wpcf7-form-control wpcf7-text"
                aria-invalid="false"
                placeholder="Email"
                value=""
                type="text"
                name="your-email"
            /></span>
          </p>
        </div>
      </div>
      <div class="com-md-12 mb-3">
        <select class="form-selec" aria-label="Default select example"                  
        class="wpcf7-form-control wpcf7-text">
          <option selected>Select Your visa</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
      <div class="col-md-12">
        <div class="input-group input-button">
          <p>
            <span class="wpcf7-form-control-wrap" data-name="message">
              <textarea
                cols="200"
                rows="4"
                class="wpcf7-form-control wpcf7-textarea"
                aria-invalid="false"
                placeholder="Message"
                name="message"
              ></textarea>
            </span>
          </p>
        </div>
      </div>
      <div class="col-12 mt-3">
        <a type="submit" class="btn-about">Get a call back</a>
      </div>
    </div>
  </div>