<div class="pe-4 ps-4 pt-4 pb-4" style="background: #f5f8fb !important">
  <h4 class="fw-bold mb-5" style="color: #222d35">Recent Post</h4>
  <!-- Recent Post Item -->
  <div class="mt-3 d-flex align-items-center">
    <div class="rounded-4">
      <img
        class="img-fluid rounded"
        src="/assets/images/bolg-01.jpg"
        alt="recent-blog-1"
        style="width: 82px"
      />
    </div>
    <div class="d-flex flex-column ms-3">
      <small class="post-date">Dec 24 2022</small>
      <a href="/blog/blog-01/" class="blog-post-details text-decoration-none">
        Exploring the Educational Advantages of Malta
      </a>
    </div>
  </div>
  <!-- Recent Post Item -->
  <div class="mt-3 d-flex align-items-center">
    <div class="rounded-4">
      <img
        class="img-fluid rounded"
        src="/assets/images/recent-bolg-02.jpg"
        alt="recent-blog-1"
        style="width: 82px"
      />
    </div>
    <div class="d-flex flex-column ms-3">
      <small class="post-date">June 13 2023</small>
      <a href="/blog/blog-02/" class="blog-post-details text-decoration-none">
        Unveiling a Mediterranean Study Gem: Explore Malta
      </a>
    </div>
  </div>
  <!-- Recent Post Item -->
  <div class="mt-3 d-flex align-items-center">
    <div class="rounded-4">
      <img
        class="img-fluid rounded"
        src="/assets/images/recentbolg-03.jpg"
        alt="recent-blog-1"
        style="width: 82px"
      />
    </div>
    <div class="d-flex flex-column ms-3">
      <small class="post-date">July 13 2023</small>
      <a href="/blog/blog-03/" class="blog-post-details text-decoration-none">
        Seize Global Opportunities: Study at Dubai, UAE
      </a>
    </div>
  </div>
</div>
