<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="theme-color" content="#000000" />
  <%- include("./head-seo") -%>
  <%- include("./styles") -%>
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="80" class="text-dark">
  <noscript>You need to enable JavaScript to run this site.</noscript>
  <%- include("./body/index") -%>
  <%- include("./scripts") -%>
</body>
</html>
